@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/subset-OpenSans.woff2") format("woff2"), url("../fonts/subset-OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/subset-OpenSans-Bold.woff2") format("woff2"), url("../fonts/subset-OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Peterburg';
  src: url("../fonts/subset-Peterburg-Bold.woff2") format("woff2"), url("../fonts/subset-Peterburg-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Peterburg';
  src: url("../fonts/subset-Peterburg-BoldItalic.woff2") format("woff2"), url("../fonts/subset-Peterburg-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Peterburg';
  src: url("../fonts/subset-Peterburg-Italic.woff2") format("woff2"), url("../fonts/subset-Peterburg-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Peterburg';
  src: url("../fonts/subset-Peterburg.woff2") format("woff2"), url("../fonts/subset-Peterburg.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.sprite-arrow-next {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 37px;
  height: 37px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
  .sprite-arrow-next::before {
    content: "";
    position: absolute;
    top: 51%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 10px;
    height: 18px;
    background-position: -5px -5px; }

.sprite-arrow-prev {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 37px;
  height: 37px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
  .sprite-arrow-prev::before {
    content: "";
    position: absolute;
    top: 51%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 10px;
    height: 18px;
    background-position: -24px -5px; }

.sprite-feature-calendar {
  position: relative; }
  .sprite-feature-calendar::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 58px;
    height: 58px;
    background-position: -43px -5px; }

.sprite-feature-dostavka {
  position: relative; }
  .sprite-feature-dostavka::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 70px;
    height: 70px;
    background-position: -111px -5px; }

.sprite-feature-dress {
  position: relative; }
  .sprite-feature-dress::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 48px;
    height: 70px;
    background-position: -190px -5px; }

.sprite-feature-ekskluz {
  position: relative; }
  .sprite-feature-ekskluz::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 52px;
    height: 64px;
    background-position: -5px -84px; }

.sprite-feature-hran {
  position: relative; }
  .sprite-feature-hran::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 64px;
    height: 50px;
    background-position: -67px -84px; }

.sprite-feature-merka {
  position: relative; }
  .sprite-feature-merka::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 68px;
    height: 38px;
    background-position: -140px -84px; }

.sprite-feature-shov {
  position: relative; }
  .sprite-feature-shov::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 52px;
    height: 52px;
    background-position: -218px -84px; }

.sprite-feature-tkan {
  position: relative; }
  .sprite-feature-tkan::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 60px;
    height: 64px;
    background-position: -140px -132px; }

.sprite-feature-trand {
  position: relative; }
  .sprite-feature-trand::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 70px;
    height: 74px;
    background-position: -280px -5px; }

.sprite-insta-nav {
  position: relative; }
  .sprite-insta-nav::before {
    content: "";
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 18px;
    height: 18px;
    background-position: -248px -5px; }

.sprite-location {
  position: relative; }
  .sprite-location::before {
    content: "";
    position: absolute;
    top: 7px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 11px;
    height: 15px;
    background-position: -280px -88px; }

.sprite-logo {
  background-image: url(../img/spritesheet.png);
  background-position: no-repeat;
  width: 83px;
  height: 97px;
  background-position: -210px -146px; }

.sprite-map-fb {
  position: relative; }
  .sprite-map-fb::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 44px;
    height: 44px;
    background-position: -301px -88px; }

.sprite-map-location {
  position: relative; }
  .sprite-map-location::before {
    content: "";
    position: absolute;
    top: 8px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 11px;
    height: 15px;
    background-position: -5px -194px; }

.sprite-map-mail {
  position: relative; }
  .sprite-map-mail::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 11px;
    height: 9px;
    background-position: -26px -194px; }

.sprite-map-phone {
  position: relative; }
  .sprite-map-phone::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 11px;
    height: 11px;
    background-position: -47px -194px; }

.sprite-map-skype {
  position: relative; }
  .sprite-map-skype::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 13px;
    height: 13px;
    background-position: -68px -194px; }

.sprite-map-viber {
  position: relative;
  background-image: url(../img/spritesheet.png);
  background-position: no-repeat;
  width: 16px;
  height: 17px;
  background-position: -91px -194px; }

.sprite-map-whatsapp {
  position: relative;
  background-image: url(../img/spritesheet.png);
  background-position: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -5px -247px; }

.sprite-map-vk {
  position: relative;
  background-image: url(../img/spritesheet.png);
  background-position: no-repeat;
  width: 43px;
  height: 43px;
  background-position: -303px -194px; }

.sprite-map-insta {
  position: relative;
  background-image: url(../img/spritesheet.png);
  background-position: no-repeat;
  width: 44px;
  height: 43px;
  background-position: -303px -141px; }

.sprite-nav-fb {
  position: relative; }
  .sprite-nav-fb::before {
    content: "";
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 18px;
    height: 18px;
    background-position: -32px -247px; }

.sprite-nav-logo {
  position: relative; }
  .sprite-nav-logo::before {
    content: "";
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 19px;
    height: 23px;
    background-position: -60px -247px; }

.sprite-nav-mail {
  position: relative; }
  .sprite-nav-mail::before {
    content: "";
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 14px;
    height: 12px;
    background-position: -89px -247px; }

.sprite-nav-phone {
  position: relative; }
  .sprite-nav-phone::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 11px;
    height: 11px;
    background-position: -117px -194px; }

.sprite-nav-viber {
  position: relative; }
  .sprite-nav-viber::before {
    content: "";
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 17px;
    height: 18px;
    background-position: -113px -247px; }

.sprite-nav-vk {
  position: relative; }
  .sprite-nav-vk::before {
    content: "";
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 18px;
    height: 18px;
    background-position: -140px -247px; }

.sprite-nav-whatsapp {
  position: relative; }
  .sprite-nav-whatsapp::before {
    content: "";
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 18px;
    height: 18px;
    background-position: -168px -247px; }

.sprite-quotes {
  position: relative; }
  .sprite-quotes::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    background-image: url(../img/spritesheet.png);
    background-position: no-repeat;
    width: 67px;
    height: 56px;
    background-position: -196px -253px; }

html,
body {
  font-size: 16px;
  line-height: 1.3; }

body {
  max-width: 1920px;
  color: #141414;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: #fff; }

h1 {
  font-size: 3rem;
  text-transform: uppercase; }

h2 {
  font-family: 'peterburg';
  font-size: 60px;
  font-weight: bold; }

h3 {
  font-family: 'peterburg';
  font-size: 36px;
  font-weight: bold; }

h4 {
  font-size: 1.375rem;
  text-transform: uppercase; }

h5 {
  font-size: 1.111rem;
  text-transform: uppercase; }

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.btn {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 0; }

.title-line {
  position: relative; }
  .title-line::before {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #141414; }
  .title-line::after {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.8;
    font-size: 336px;
    font-family: 'peterburg';
    font-weight: bold; }

form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  form input {
    margin-bottom: 40px;
    width: 290px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #141414; }
  form .btn {
    padding: 8px 21px;
    background-color: #e1aea5;
    border-color: #e1aea5; }

/*----Цвет плейсхолдера---*/
input::-webkit-input-placeholder {
  color: #141414; }

input::-moz-placeholder {
  color: #141414; }

input:-moz-placeholder {
  color: #141414; }

input:-ms-input-placeholder {
  color: #141414; }

.top-line {
  background-color: #141414;
  color: #fff; }
  .top-line .navbar {
    justify-content: space-between;
    padding: 0;
    font-size: 14px; }
    .top-line .navbar .navbar-toggler {
      position: relative;
      margin: 8px;
      border: none;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      border-radius: 0; }
      .top-line .navbar .navbar-toggler::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100%;
        height: 3px;
        background-color: #fff; }
    .top-line .navbar .nav-link {
      padding: 5px 12px;
      color: #fff; }
      .top-line .navbar .nav-link:hover {
        color: #e1aea5; }
      .top-line .navbar .nav-link:active, .top-line .navbar .nav-link.active {
        color: #fa9482; }
  .top-line .contacts {
    display: flex;
    align-items: center; }
    .top-line .contacts a {
      padding: 0 7px; }
      .top-line .contacts a:last-child {
        padding-right: 0; }
    .top-line .contacts .phone {
      padding: 0 6px 0 17px;
      line-height: 1; }
    .top-line .contacts .vk {
      align-self: stretch;
      display: flex;
      align-items: center;
      border-left: 1px solid #989898; }
    .top-line .contacts .fb {
      align-self: stretch;
      display: flex;
      align-items: center;
      border-right: 1px solid #989898; }
  .top-line .show + .contacts {
    padding-top: 10px;
    padding-bottom: 15px; }
  .top-line .collapsed ~ .contacts .message-form {
    display: none; }
  .top-line .collapsed ~ .contacts .fb {
    display: none; }
  .top-line .collapsed ~ .contacts .viber {
    display: none; }
  .top-line .collapsed ~ .contacts .vk {
    border: none; }

.header-middle {
  padding-top: 48px; }
  .header-middle .container {
    display: flex;
    align-items: flex-end; }
  .header-middle .item {
    margin-bottom: 25px; }
  .header-middle .brand {
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: 48px;
    font-size: 22px;
    font-family: 'Peterburg', serif;
    white-space: nowrap; }
    .header-middle .brand .sprite-logo {
      margin-right: 15px; }
  .header-middle .slogan-block {
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Peterburg', serif;
    src: url("../fonts/subset-Peterburg-BoldItalic.woff2");
    font-style: italic; }
    .header-middle .slogan-block p {
      margin-bottom: 14px; }
  .header-middle .show-room {
    padding-left: 18px;
    font-size: 14px; }
    .header-middle .show-room span {
      display: block;
      color: #989898; }
    .header-middle .show-room p {
      margin-bottom: 4px; }
    .header-middle .show-room .subscribe {
      margin-bottom: 15px;
      font-size: 12px; }

.slider-header::before {
  z-index: 1;
  top: 114px;
  background-color: #fff; }

.slider-header .item {
  position: relative;
  background-color: #202020;
  outline: none; }

.slider-header .container {
  margin-bottom: 15px;
  min-height: 132px; }
  .slider-header .container h2 {
    margin-bottom: 65px;
    line-height: 1.1;
    color: #fff;
    text-shadow: 1px 1px 2px #141414, 0 0 15px black; }
    .slider-header .container h2 span {
      font-weight: normal; }
  .slider-header .container .btn {
    padding-right: 38px;
    border-left: none;
    border-right: none; }

.slider-header .preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 352px;
  height: 100%;
  border-left: 1px solid #fff; }
  .slider-header .preview::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0; }
  .slider-header .preview:hover::before {
    opacity: 1; }

.slider-header .preview-1::before {
  background: url(../img/slider-header/slide2-preview.jpg) no-repeat; }

.slider-header .preview-2::before {
  background: url(../img/slider-header/slide3-preview.jpg) no-repeat; }

.slider-header .preview-3::before {
  background: url(../img/slider-header/slide4-preview.jpg) no-repeat; }

.slider-header .preview-4::before {
  background: url(../img/slider-header/slide1-preview.jpg) no-repeat; }

.slider-header .slick-prev {
  display: none !important; }

.slider-header .sh-next {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 352px;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5); }

.slider-header .sprite-arrow-next {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: none;
          transform: none; }

.slider-header .slick-dots {
  z-index: 1;
  position: absolute;
  left: 15px;
  bottom: 20px;
  display: flex; }
  .slider-header .slick-dots button {
    margin: 0 4px;
    padding: 0;
    font-size: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); }
  .slider-header .slick-dots .slick-active button {
    background-color: #fff; }

.about-us {
  padding: 32px 0;
  background-color: #141414;
  color: #fff; }
  .about-us::before {
    background-color: #fff;
    top: 55px; }
  .about-us .container {
    position: relative; }
  .about-us h2 {
    z-index: 1;
    margin-bottom: 20px;
    position: relative;
    color: #fff; }
  .about-us .features {
    margin-bottom: 30px; }
  .about-us .person {
    max-width: 370px; }
    .about-us .person p {
      margin-bottom: 17px; }
    .about-us .person .link-more {
      display: block;
      text-align: right;
      margin-bottom: 25px;
      color: #989898;
      text-decoration: underline;
      cursor: pointer; }
    .about-us .person .btn {
      border-left: none;
      border-right: none; }
  .about-us .about-us-slider {
    margin-bottom: 30px; }
    .about-us .about-us-slider .item {
      position: relative; }
    .about-us .about-us-slider img {
      max-width: 100%;
      height: auto;
      margin: 0 auto; }
    .about-us .about-us-slider .slick-prev {
      display: none !important; }
    .about-us .about-us-slider .sprite-arrow-next {
      top: auto;
      right: 0;
      bottom: 0;
      -webkit-transform: none;
              transform: none; }

.why-choose {
  padding: 35px 0; }
  .why-choose::before {
    top: 74px; }
  .why-choose .content {
    position: relative; }
  .why-choose h3 {
    margin-bottom: 30px; }
  .why-choose .main-img {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
    align-self: flex-start; }
  .why-choose .item {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    font-size: 15px; }
    .why-choose .item .frame {
      margin-bottom: 14px;
      background-color: #eae9eb;
      width: 116px;
      height: 116px;
      box-shadow: inset 0 0 0 4px #eae9eb, inset 0 0 0 5px #fff; }

.easy-work {
  padding: 75px 0 45px;
  background: url(../img/bg-easy-work.jpg) no-repeat;
  background-size: cover; }
  .easy-work::before {
    top: 60px; }
  .easy-work h3 {
    margin-bottom: 40px; }
  .easy-work .item {
    display: flex;
    align-items: center;
    margin-bottom: 8px; }
    .easy-work .item:nth-child(even) {
      padding-left: 64px; }
  .easy-work .form-link {
    text-decoration: underline; }
  .easy-work .num {
    margin-right: 14px;
    font-size: 65px;
    font-family: 'peterburg', 'serif';
    font-weight: bold;
    color: #989898; }
  .easy-work img {
    max-width: 100%;
    height: auto; }

.form-sect-top {
  padding: 30px 0 45px; }
  .form-sect-top h3 {
    text-align: center;
    margin-bottom: 30px;
    white-space: nowrap; }

.video {
  padding: 35px 0 45px;
  background-color: #f6f6f6; }
  .video::before {
    top: 95px; }
  .video h2 {
    z-index: 1;
    position: relative;
    margin-bottom: 40px; }
  .video video {
    z-index: 1;
    position: relative;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.45); }

.catalog {
  padding: 35px 0 40px; }
  .catalog::before {
    top: 120px; }
  .catalog h2 {
    z-index: 1;
    position: relative;
    margin-bottom: 40px;
    line-height: 0.7; }
    .catalog h2 span {
      font-size: 0.6em; }

.testimonials {
  padding: 30px 0 40px;
  background-color: #eae9eb; }
  .testimonials::before {
    top: 98px; }
  .testimonials h2 {
    z-index: 1;
    position: relative;
    margin-bottom: 12px; }
  .testimonials .caption {
    z-index: 1;
    position: relative;
    margin-bottom: 32px; }
  .testimonials .testimonials-slider {
    z-index: 3;
    position: relative; }
    .testimonials .testimonials-slider .sprite-arrow-prev {
      left: 10px; }
    .testimonials .testimonials-slider .sprite-arrow-next {
      right: 10px; }
  .testimonials .testimonials-slider-inner .item {
    padding: 10px;
    outline: none;
    display: flex; }
  .testimonials .testimonials-slider-inner img {
    display: block;
    margin-right: 30px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
  .testimonials .testimonials-slider-inner .text {
    padding: 100px 24px 25px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
    .testimonials .testimonials-slider-inner .text p {
      margin-bottom: 20px; }
  .testimonials .testimonials-slider-inner .name {
    text-align: center;
    font-size: 30px;
    font-family: 'peterburg', 'serif';
    font-style: italic; }

.evening-dress {
  padding: 30px 0 40px;
  background-color: #fff; }
  .evening-dress::before {
    top: 128px; }
  .evening-dress h2 {
    z-index: 1;
    position: relative;
    margin-bottom: 15px; }
  .evening-dress .caption {
    z-index: 1;
    position: relative;
    margin-bottom: 25px; }
  .evening-dress .ed-gallery-slider {
    z-index: 3;
    position: relative;
    margin-bottom: 60px; }
    .evening-dress .ed-gallery-slider .ed-gallery-slider-inner {
      margin: 0 -15px; }
    .evening-dress .ed-gallery-slider .item {
      position: relative;
      display: block;
      padding: 0 15px;
      outline: none; }
      .evening-dress .ed-gallery-slider .item:hover::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 90%;
        height: 98%;
        background-color: rgba(255, 255, 255, 0.4); }
      .evening-dress .ed-gallery-slider .item:hover::after {
        content: '';
        position: absolute;
        bottom: 20px;
        right: 35px;
        width: 43px;
        height: 43px;
        background: url(../img/plus.png) no-repeat;
        background-size: cover; }
    .evening-dress .ed-gallery-slider img {
      margin: 0 auto;
      max-width: 100%;
      height: auto; }
  .evening-dress .text p {
    margin-bottom: 15px; }
  .evening-dress .link-more-ed {
    display: block;
    text-align: right;
    margin-bottom: 25px;
    color: #989898;
    text-decoration: underline;
    cursor: pointer; }

.sertificates {
  padding: 30px 0 40px;
  background: url(../img/bg-sertificates.jpg) no-repeat;
  background-size: cover; }
  .sertificates::before {
    top: 91px; }
  .sertificates h3 {
    margin-bottom: 35px; }
  .sertificates .slider-sertificates {
    position: relative; }
    .sertificates .slider-sertificates .item {
      padding: 5px 0;
      outline: none; }
    .sertificates .slider-sertificates img {
      margin: 0 auto;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
    .sertificates .slider-sertificates .srt-prev {
      left: 10px; }
    .sertificates .slider-sertificates .srt-next {
      right: 10px; }

.form-sect-bottom {
  padding: 35px 0; }
  .form-sect-bottom .intro {
    margin-bottom: 35px;
    font-size: 18px;
    font-family: 'peterburg', 'serif';
    color: #000; }
  .form-sect-bottom h3 {
    text-align: center;
    margin-bottom: 30px;
    white-space: nowrap; }

.map-sect {
  position: relative;
  background-color: #f2f2f2; }
  .map-sect #map {
    width: 100%;
    height: 350px; }
  .map-sect .map-contacts {
    z-index: 100;
    padding: 30px 40px; }
    .map-sect .map-contacts .adress,
    .map-sect .map-contacts .phone,
    .map-sect .map-contacts .skype,
    .map-sect .map-contacts .email {
      display: block;
      padding-left: 18px;
      margin-bottom: 15px; }
    .map-sect .map-contacts .email {
      margin-bottom: 30px; }
    .map-sect .map-contacts .phone,
    .map-sect .map-contacts .viber {
      margin-right: 12px; }
    .map-sect .map-contacts .vk,
    .map-sect .map-contacts .instagram {
      margin-right: 22px; }

.copyrights {
  padding: 14px 0;
  text-align: center;
  color: #fff;
  background-color: #141414; }

@media (min-width: 576px) {
      .sprite-quotes::before {
        top: 50px; }
      .title-line::before {
        width: calc(50% - 576px/2); }
      .title-line::after {
        left: calc((50% - 576px/2) - 15px); }
      form input {
        width: 370px; }
    .slider-header .container {
      min-height: 144px; }
    .slider-header .slick-dots {
      left: calc((50% - 576px/2) + 15px); }
      .testimonials .testimonials-slider-inner .text {
        padding: 147px 45px 40px; } }

@media (min-width: 768px) {
      .title-line::before {
        width: calc(50% - 768px/2); }
      .title-line::after {
        left: calc((50% - 768px/2) - 15px); }
    .slider-header .container {
      min-height: 184px; }
    .slider-header .slick-dots {
      left: calc((50% - 768px/2) + 15px); }
      .map-sect #map {
        height: 500px; }
      .map-sect .map-contacts {
        position: absolute;
        top: 50px;
        left: calc(50% - 992px/2);
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2); } }

@media (min-width: 992px) {
      .title-line::before {
        width: calc(50% - 992px/2); }
      .title-line::after {
        left: calc((50% - 992px/2) - 15px); }
    .slider-header .slick-dots {
      left: calc((50% - 992px/2) + 15px); }
      .form-sect-bottom .intro {
        font-size: 26px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; }
      .title-line::before {
        width: calc(50% - 1200px/2); }
      .title-line::after {
        left: calc((50% - 1200px/2) - 15px); }
    form {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between; }
      .top-line .navbar li:first-child a {
        padding: 2px 4px;
        padding-left: 0; }
      .top-line .navbar li:last-child a {
        padding-right: 0; }
      .top-line .contacts {
        padding-left: 12px; }
        .top-line .contacts .phone {
          font-size: 16px; }
      .header-middle .slogan-block {
        white-space: nowrap; }
    .slider-header .container {
      z-index: 1;
      position: absolute;
      top: 88px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .slider-header .slick-dots {
      left: calc((50% - 1200px/2) + 15px); }
    .about-us {
      padding: 72px 0; }
      .about-us::before {
        top: 105px; }
      .about-us::after {
        content: "О нас";
        color: #202020; }
      .about-us h2 {
        margin-bottom: 148px; }
      .about-us .features {
        z-index: 1;
        position: absolute;
        top: 84px;
        right: 0; }
      .about-us .about-us-slider {
        margin-bottom: 0; }
        .about-us .about-us-slider .about-us-slider-inner {
          width: 771px !important;
          background-color: #141414; }
    .why-choose {
      padding: 55px 0; }
      .why-choose .content::before {
        content: '';
        position: absolute;
        left: -70px;
        bottom: -25px;
        width: 258px;
        height: 341px;
        background: url(../img/why-choose-sub.jpg) no-repeat;
        box-shadow: 0px 0px 28.13px 0.87px rgba(0, 0, 0, 0.28); }
      .why-choose .main-img {
        margin: 0;
        margin-right: 30px; }
    .easy-work {
      padding: 40px 0; }
    .form-sect-top {
      padding: 50px 0 50px; }
      .form-sect-top h3 {
        text-align: left;
        margin-right: 90px; }
    .video {
      padding: 65px 0; }
      .video::after {
        content: 'Видео';
        color: #eae9eb; }
    .catalog {
      padding: 105px 0 85px; }
      .catalog::after {
        content: 'Каталог';
        top: 30px;
        font-size: 308px;
        color: #eae9eb; }
      .catalog .content {
        z-index: 1;
        position: relative; }
      .catalog .fullwidth-img {
        margin-right: 30px; }
      .catalog .thumbnails .thumb {
        position: relative;
        margin-bottom: 49px;
        cursor: pointer; }
        .catalog .thumbnails .thumb:hover::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          height: 240px;
          width: 154px;
          background-color: rgba(255, 255, 255, 0.4); }
      .catalog .thumbnails img {
        display: block;
        margin: 0 auto;
        width: 164px;
        height: 250px; }
      .catalog .arrows-item {
        display: none !important; }
    .testimonials {
      padding: 80px 0 84px; }
      .testimonials::after {
        content: 'Отзывы';
        top: 0;
        font-size: 310px;
        color: #dcdbdf; }
      .testimonials .caption {
        margin-bottom: 52px; }
    .evening-dress {
      padding: 94px 0 90px; }
      .evening-dress::after {
        content: 'Вечерние';
        top: 45px;
        font-size: 265px;
        color: #ebeaed; }
      .evening-dress .caption {
        margin-bottom: 52px; }
    .sertificates {
      padding: 70px 0 85px; }
      .form-sect-bottom h3 {
        text-align: left;
        margin-right: 90px; }
      .map-sect .map-contacts {
        left: calc(50% - 1200px/2);
        padding: 30px 40px; } }

@media (min-width: 1440px) {
      .map-sect #map {
        height: 708px; } }

@media (min-width: 1500px) {
      .map-sect .map-contacts {
        top: 100px;
        padding: 30px 125px 30px 40px; } }

@media (max-width: 1200px) {
    h2 {
      font-size: 45px; }
      .header-middle .container {
        flex-wrap: wrap; }
  .slider-header::before {
    z-index: 1;
    top: 44px;
    background-color: #fff; }
  .slider-header .item {
    padding-top: 20px; }
      .slider-header .container h2 {
        margin-bottom: 15px; }
    .slider-header .container h2.smaller {
      font-size: 42px; }
    .slider-header .preview {
      display: none; }
      .why-choose .item .frame {
        margin: 0 auto;
        margin-bottom: 14px; }
      .why-choose .item p {
        text-align: center; }
    .catalog .fullwidth-img {
      display: none; }
    .catalog .content {
      position: relative; }
      .catalog .content .sprite-arrow-prev {
        left: 7px; }
      .catalog .content .sprite-arrow-next {
        right: 7px; }
    .catalog .thumbnails img {
      margin: 0 auto;
      max-width: 100%;
      height: auto; }
      .testimonials .testimonials-slider .sprite-arrow-prev,
      .testimonials .testimonials-slider .sprite-arrow-next {
        top: 180px; }
      .testimonials .testimonials-slider-inner img {
        display: none; } }

@media (max-width: 992px) {
    h2 {
      font-size: 40px; }
    h3 {
      font-size: 32px; }
    .slider-header .container h2.smaller {
      font-size: 38px; } }

@media (max-width: 768px) {
    h2 {
      font-size: 35px; }
    h3 {
      font-size: 30px; }
    .slider-header .container h2.smaller {
      font-size: 32px; } }

@media (max-width: 576px) {
    h2 {
      font-size: 30px; }
    h3 {
      font-size: 28px; }
    .slider-header .container h2.smaller {
      font-size: 28px; }
      .about-us .person br {
        display: none; } }
